%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            = link_to "Home", root_path
          %li.footer-menu-divider &sdot;
          %li
            = link_to "About", "#"
          %li.footer-menu-divider &sdot;
          %li
            = link_to "Contact", "#"
        %p.copyright.text-muted.small Copyright &copy; Gorceries 2015. All Rights Reserved
